# Server Configuration
PORT=3001
NODE_ENV=development

# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/loyaltystudio?schema=public"

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Logging Configuration
LOG_LEVEL=debug

# API Configuration
API_HOST=localhost
API_URL=http://localhost:3001

# Supabase Configuration
SUPABASE_URL=your_supabase_project_url
SUPABASE_SERVICE_KEY=your_supabase_service_role_key
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SESSION_EXPIRY=86400 # Session expiry in seconds (1 day)


# Cloudflare Configuration
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token
CLOUDFLARE_ZONE_ID=your_cloudflare_zone_id
CLOUDFLARE_BASE_DOMAIN=your_base_domain

# GEMINI API Configuration
GEMINI_API_KEY=your_gemini_api_key